<app-long-table></app-long-table>

--------------------------------------------------------------------
<p>
  CONTENT works!
</p>
display: none - długi tekst 
<div style="display: none;">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis, augue vitae pellentesque malesuada, tellus
    enim mollis augue, a gravida risus justo sed erat. Fusce vitae mattis neque, in commodo libero. Duis in elit vel
    diam
    euismod porttitor. In iaculis augue ut augue pretium consequat. Nulla consequat non mauris a egestas. Nam egestas
    arcu
    eget arcu gravida, sed lobortis turpis fringilla. Etiam tempor, sapien ut gravida aliquet, elit enim hendrerit diam,
    id rutrum nisl nisi in tellus. Mauris quis rutrum enim, ut iaculis leo. Phasellus ac nunc a nulla vehicula
    condimentum. Maecenas bibendum varius volutpat.
  </p>
  <p>
    Phasellus et nisi placerat, eleifend diam sed, aliquet libero. In eget mi a massa mattis semper. Fusce vel gravida
    eros, eu fermentum eros. Quisque blandit imperdiet egestas. Morbi nec metus scelerisque, interdum lorem a, molestie
    libero. Morbi facilisis dolor lectus, quis facilisis libero venenatis euismod. Ut eleifend, mi vitae sodales
    consequat, lectus tellus viverra ex, quis eleifend eros ligula id nibh. Integer vitae ex in leo condimentum dapibus
    ac
    ac neque. Sed commodo eleifend fringilla. Ut aliquam dolor diam, ut dignissim lorem rhoncus in.
  </p>
  <p>
    Mauris tempus ac dui vel ornare. Aenean mollis ullamcorper ex, quis dapibus sem placerat a. Nunc felis turpis,
    elementum vel justo ut, fringilla convallis metus. Mauris in euismod orci. Integer euismod pretium est, a pretium
    libero vehicula et. Etiam dignissim lectus eros, eget convallis est accumsan eu. Aenean hendrerit risus consectetur
    pretium hendrerit. Donec quis viverra orci. Nunc accumsan enim non suscipit consequat. Vestibulum vitae massa ac
    quam
    consequat pulvinar at eget ipsum. Suspendisse placerat ante ac gravida ullamcorper. Aliquam sagittis dui ac lorem
    placerat, sit amet eleifend orci malesuada. Vestibulum ac volutpat orci.
  </p>
  <p>
    Duis a nunc at tortor vehicula ornare. Praesent et cursus mauris. Aenean commodo, sem ac hendrerit vestibulum, dolor
    erat accumsan arcu, ut congue diam est vel nibh. Nunc efficitur aliquet ipsum sit amet efficitur. Integer eget velit
    molestie, finibus libero ac, vestibulum magna. Proin vel libero id mi egestas fermentum eget condimentum enim. Cras
    ultrices convallis dolor id molestie. Suspendisse gravida nisl at leo sagittis cursus. Mauris libero velit,
    imperdiet
    vitae luctus vel, ultrices vitae libero. Proin vestibulum lectus sit amet dapibus sodales. Mauris vel arcu et nulla
    pharetra rhoncus ac nec nisi. Nunc venenatis facilisis nunc, id varius tortor suscipit a. Sed eget dictum nisi, ut
    iaculis tortor.
  </p>
  <p>
    Aliquam sodales ipsum ac nulla iaculis, vitae tristique erat suscipit. Etiam vitae enim neque. In et ligula erat. Ut
    malesuada volutpat lectus at laoreet. Duis a aliquet lectus. Sed maximus orci consectetur enim condimentum
    tincidunt.
    Aliquam erat volutpat. Phasellus blandit tristique lectus, eu venenatis lectus mollis ac. Nullam luctus odio at
    placerat iaculis. Aenean scelerisque, enim ut laoreet feugiat, risus eros pulvinar diam, at molestie purus lectus
    quis
    neque. Etiam nunc risus, placerat nec libero quis, ultrices fringilla nulla. Nam vel elementum nisl. Nullam ut lorem
    quis tellus lacinia rutrum in non ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed feugiat
    neque, nec lacinia neque.
  </p>
  <p>
    Praesent tempor commodo gravida. Cras varius enim a nibh pretium, id condimentum dui bibendum. Maecenas in lacinia
    mi.
    Mauris viverra, diam vel finibus euismod, augue leo maximus dui, quis molestie elit turpis et urna. Donec eget neque
    et libero facilisis suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    curae;
    Nunc eu sodales metus. Donec tortor justo, rhoncus a lacus quis, sagittis iaculis urna. Quisque ut lacinia dui.
    Phasellus imperdiet augue a dui elementum, sit amet dictum massa vehicula. Nam vel purus nibh. Nam volutpat arcu id
    risus interdum, eu facilisis ex dictum. Proin egestas convallis ligula, viverra luctus nulla ornare bibendum. Mauris
    sapien sem, feugiat id quam ut, semper condimentum felis. Nam vitae pretium nisi, ac volutpat nisi. Suspendisse
    potenti.
  </p>
  <p>
    Mauris condimentum in massa eu efficitur. Aenean quis libero id lacus lobortis malesuada. Duis finibus dui ac nulla
    vestibulum iaculis. Cras ut diam ipsum. Integer leo tortor, tincidunt eget odio feugiat, mattis suscipit enim. Duis
    cursus magna id dolor aliquet semper ut ac est. Sed viverra ligula a odio vestibulum fringilla. Morbi rhoncus
    viverra
    rhoncus. Integer blandit euismod fringilla. Quisque dapibus pharetra magna nec cursus. Donec vel ex lobortis, luctus
    nibh nec, hendrerit libero. Vivamus ut ex mattis arcu rutrum sagittis. Donec consectetur risus a elementum dapibus.
    Nunc vitae ante enim. Quisque commodo tortor ac tortor pretium elementum.
  </p>
  <p>
    Curabitur gravida id tortor eget auctor. Morbi et iaculis turpis. Donec ante velit, varius quis ultricies eu,
    aliquam
    ac nibh. Nunc eget cursus nulla. Etiam vitae sodales tortor, quis laoreet risus. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum viverra leo at mattis dapibus. Aenean
    scelerisque elit sagittis lacinia semper. Nulla congue suscipit convallis. Sed vel pretium nisl. Aenean ullamcorper
    a
    neque eget aliquet. Suspendisse id leo non tellus elementum fringilla. Proin vitae enim in erat condimentum sagittis
    nec vel dui. Nunc ut malesuada massa. Nullam velit libero, facilisis et ante in, laoreet euismod ligula. Vestibulum
    sollicitudin condimentum tincidunt.
  </p>
  <p>
    Nulla vulputate tempor interdum. Morbi eu auctor massa. Duis sollicitudin et augue ac congue. Pellentesque dictum
    ante
    felis, aliquam tincidunt dui bibendum non. Curabitur non augue non urna auctor ultrices vitae viverra nibh.
    Vestibulum
    sed nisi consectetur, luctus lectus at, porta diam. Maecenas in purus odio. Donec sed ipsum augue. Vestibulum ante
    ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris ornare turpis eu libero semper, a
    consectetur sapien tempor. Aliquam eget elit vitae ex dictum dapibus vel eget enim. Phasellus vitae enim in eros
    scelerisque lacinia. Aliquam lobortis, dui vitae tincidunt malesuada, sapien massa interdum justo, in imperdiet
    purus
    diam vel ex. Fusce congue in risus sed accumsan. Fusce pellentesque leo in mi malesuada faucibus.
  </p>
  <p>
    Fusce porttitor lobortis turpis, vitae bibendum nisl ultricies et. Phasellus et maximus nisi. Vestibulum euismod
    arcu
    non urna porta malesuada sed ut leo. Maecenas ex sapien, eleifend nec dolor rhoncus, pellentesque scelerisque dui.
    Mauris sed ante ut sapien elementum fringilla in eu ex. Nulla cursus venenatis arcu, a tincidunt purus rhoncus in.
    Donec finibus congue ultrices. Proin rutrum arcu congue semper dignissim. Sed odio nisi, mollis et faucibus posuere,
    pulvinar in lacus. Aliquam felis justo, cursus in augue sed, lobortis semper neque. Curabitur in urna finibus,
    aliquam
    tellus ut, semper dui. Nulla non lectus tellus.
  </p>
  <p>
    Ut ultrices elit finibus mi molestie sodales. Vivamus luctus libero bibendum magna molestie rutrum. Vivamus
    facilisis
    dui a sagittis cursus. In ut neque ante. Nunc non nunc neque. Quisque convallis lobortis vulputate. Aenean ac
    aliquam
    justo. Quisque porta libero urna, a ultrices odio bibendum sed.
  </p>
  <p>
    Integer molestie justo ac nisi fringilla, sed porttitor nunc placerat. Maecenas bibendum, dolor id pulvinar pretium,
    tellus erat accumsan urna, a tincidunt lorem dui vel orci. Sed eu leo sed neque congue cursus sit amet vitae elit.
    Fusce congue tempor pellentesque. Vestibulum luctus ullamcorper tellus nec laoreet. Aliquam erat volutpat. Donec dui
    erat, consectetur vitae dignissim at, ullamcorper eget ex. Aenean gravida blandit diam. Phasellus et nibh auctor,
    tristique odio eu, malesuada est. Etiam gravida gravida nisi, sed molestie odio commodo ut. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Nullam consequat libero
    eget
    pretium ultricies. Cras et pharetra odio.
  </p>
  <p>
    Ut ullamcorper mi dapibus, scelerisque quam ac, cursus nulla. Quisque sed rutrum nulla, placerat lacinia mi. In a
    urna
    varius, mollis urna in, fringilla sem. Pellentesque ac turpis sapien. Suspendisse placerat consectetur augue, nec
    rutrum sem ultricies sit amet. Vestibulum vitae placerat felis. Maecenas non vulputate lorem. Sed dictum pretium
    sagittis. Donec rhoncus leo eget suscipit ultrices. Suspendisse quis odio varius, egestas felis id, faucibus eros.
    Curabitur dignissim rhoncus feugiat.
  </p>
  <p>
    In hac habitasse platea dictumst. Proin elementum, est ac varius varius, tortor libero rhoncus turpis, id interdum
    ante lectus et mauris. Morbi commodo odio vitae odio dignissim, sed blandit erat aliquam. Interdum et malesuada
    fames
    ac ante ipsum primis in faucibus. Sed efficitur congue lectus, eu auctor mauris porttitor a. Suspendisse pretium
    lectus eget efficitur aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Aliquam vulputate dolor at velit cursus vehicula. Morbi consectetur fermentum ornare. Nullam eleifend
    elit
    et blandit congue.
  </p>
  <p>
    Ut at leo vitae velit bibendum molestie. Integer eget pretium est. Nam ut commodo risus. Donec lobortis eros quis
    urna
    hendrerit, eu accumsan lorem consectetur. Sed tristique placerat diam vitae fringilla. Cras et metus nec eros
    ultricies rutrum. Vivamus eu tempor nulla. In ut pulvinar tortor. Quisque facilisis mi vel massa lacinia, non
    finibus
    libero auctor. Sed pulvinar velit at nulla efficitur aliquam. Maecenas a est a sapien consectetur tincidunt ut non
    enim. Donec feugiat varius libero, ut ullamcorper arcu molestie eget. Aliquam erat volutpat.
  </p>
  <p>
    Maecenas consequat felis mollis enim iaculis faucibus. Proin ultricies mollis dapibus. Ut convallis a ligula vel
    hendrerit. Curabitur laoreet metus quis laoreet posuere. Morbi non massa lectus. Fusce bibendum, lectus eu mattis
    mattis, velit nulla tristique dolor, at volutpat metus turpis quis leo. Ut malesuada varius turpis, non aliquet
    magna
    volutpat ac. Sed ut odio et ante tincidunt efficitur. Cras eget lacinia nisl, eget bibendum velit. Class aptent
    taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consequat, dolor id aliquet egestas,
    nisl
    ipsum venenatis tellus, ac facilisis lectus quam tincidunt quam. Mauris imperdiet odio diam, cursus bibendum eros
    blandit eu. Sed ante diam, fermentum at nibh sit amet, suscipit tristique tellus.
  </p>
  <p>
    Ut commodo orci eu ex volutpat vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada
    fames
    ac turpis egestas. Donec orci leo, convallis sit amet bibendum non, porttitor eget arcu. Vestibulum nisi orci,
    congue
    sed cursus ac, volutpat quis arcu. Duis varius, nibh vitae iaculis finibus, purus neque elementum lectus, ac
    hendrerit
    tellus purus fringilla lectus. Fusce eu mauris aliquam, pretium elit ac, porttitor ex. Vivamus nec nibh non ipsum
    sagittis ultrices. Pellentesque in erat vel mi sagittis vehicula sodales vel felis. Vestibulum venenatis placerat
    turpis, quis commodo turpis sagittis eu. Curabitur at tempor justo. Nam massa nisl, dignissim in tristique quis,
    vulputate vitae turpis. Integer accumsan velit augue, eu mollis massa ornare faucibus. Duis ac magna consequat,
    iaculis mauris id, sodales nisi. Donec lacus odio, volutpat et augue pharetra, pulvinar lobortis mauris. Duis tempor
    ac mi eu pellentesque. Curabitur dolor ex, aliquet et erat nec, pellentesque placerat elit.
  </p>
  <p>
    Donec et facilisis eros, ut viverra erat. Nam hendrerit sit amet nisi at molestie. Integer eleifend, nulla nec
    aliquam
    consequat, enim felis pellentesque dui, id sollicitudin mauris lacus in velit. Proin porta auctor tortor a
    dignissim.
    Proin mi risus, blandit at augue in, faucibus ultrices metus. Pellentesque felis mi, faucibus sit amet placerat a,
    eleifend ut metus. Proin sit amet urna finibus, scelerisque risus sit amet, pellentesque dolor. Nullam ut urna
    molestie, porta est eget, suscipit mi. Ut sed elementum mauris. Nulla facilisi. Aliquam eget blandit massa.
    Curabitur
    in feugiat odio, eget volutpat ipsum. Nulla facilisi.
  </p>
  <p>
    In sit amet velit ut ante iaculis tempus. Sed posuere tempor lacinia. Interdum et malesuada fames ac ante ipsum
    primis
    in faucibus. Quisque tempor dui diam, id blandit massa congue a. Nam sed tempor tortor, a consequat sem. Donec
    placerat elit et enim maximus mattis. Phasellus nec ullamcorper mi. Mauris massa magna, tempor a ligula sed, luctus
    rhoncus tellus. Donec interdum enim eu elit congue finibus.
  </p>
  <p>
    Aliquam erat volutpat. Aliquam erat volutpat. Nunc laoreet fermentum ex eget suscipit. Aenean vitae nunc mattis,
    rhoncus purus quis, sollicitudin nisi. Fusce justo velit, fringilla at neque quis, pulvinar scelerisque lorem. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat mauris nec velit ultrices gravida. Fusce
    sollicitudin odio odio, a finibus nulla elementum ut. Mauris ut aliquam eros. Aenean auctor lectus risus. Nunc sit
    amet magna in magna dignissim euismod. Ut tristique, mi non mattis pulvinar, nibh elit consectetur nulla, vel cursus
    lacus felis eget nisi. Curabitur dapibus, neque at laoreet rhoncus, ex dui aliquam diam, interdum facilisis nisl
    velit
    in lorem. Sed viverra eget quam sit amet tincidunt. Vivamus ac purus non arcu volutpat venenatis. Suspendisse
    potenti.
  </p>
  <p>
    Mauris quis feugiat tellus. Proin at tincidunt leo. Vivamus condimentum quis dui nec commodo. Curabitur iaculis
    vestibulum efficitur. Mauris scelerisque laoreet orci sit amet ultrices. Aliquam non tempus metus. Curabitur
    porttitor
    egestas erat, id porta lacus scelerisque a. Nullam massa urna, eleifend non aliquam ac, feugiat quis ex. Praesent
    rutrum laoreet luctus. Vivamus gravida velit ut sapien euismod, et sagittis eros luctus. Nam porttitor volutpat
    condimentum. Maecenas tincidunt tincidunt ipsum. Nunc mattis orci augue, in ultricies ante vehicula id. Proin eu
    nunc
    in ante sollicitudin congue. Duis fermentum laoreet varius. Duis nulla nisi, finibus quis euismod a, aliquam id
    ante.
  </p>
  <p>
    Mauris ac tempus ex, a pharetra risus. Maecenas efficitur nisl sit amet tortor placerat convallis. Aenean mattis
    tempus luctus. Praesent rhoncus dolor mollis, sagittis sapien vitae, efficitur elit. Nulla convallis ligula ut lacus
    consequat, ac faucibus nunc tincidunt. Morbi dictum sapien nec maximus tempus. Fusce dictum pellentesque purus, ut
    posuere elit imperdiet nec.
  </p>
</div>
